site_name: Sci-HPC
theme:
  name: material
  custom_dir: docs/overrides
  # palette:
  #   # Palette toggle for light mode
  #   # - scheme: default
  #   - primary: teal
  #     media: "(prefers-color-scheme: light)"
  #     toggle:
  #       icon: material/brightness-7
  #       name: Switch to dark mode

  #   # Palette toggle for dark mode
  #   - scheme: slate
  #     media: "(prefers-color-scheme: dark)"
  #     toggle:
  #       icon: material/brightness-4
  #       name: Switch to light mode

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

  features:
    - navigation.tabs
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - search.suggest
    - search.highlight
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
  icon:
    annotation: material/arrow-right-circle
site_url: !ENV READTHEDOCS_CANONICAL_URL
# repo_name: sci-hpc/scicluster
# repo_url: https://github.com/sci-hpc/scicluster
# edit_uri: edit/main/docs/
docs_dir: docs
site_description: >-
  Sci-HPC tries to make High performance computing more simple and accessible.
copyright: Copyright &copy; 2023 - 2024 Sci-HPC team
extra_javascript:
  - assets/javascripts/versions.js
extra_css:
  - assets/stylesheets/versions.css
  # - assets/stylesheets/color-schemes.css
  - assets/stylesheets/mermaid.css
plugins:
  - search
  - social:
      cards_layout_options:
        background_color: "#006bba"
  - include-markdown:
      trailing_newlines: false
  - git-revision-date-localized:
      fallback_to_build_date: true
  - blog:
      post_excerpt: optional
      blog_dir: blog
      draft_if_future_date: true
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - attr_list
  - md_in_html

nav:
  - Home:
      - index.md
  - Documentation:
      - docs/index.md
      
  - Blog:
      - blog/index.md
